[flake8]
max-line-length = 99
select: E,W,F,C,N
exclude:
    .git
    __pycache__
    .venv
    venv
    build
    *.egg_info
    dist
    snap
extend-ignore:
    # E203 whitespace before ‘:’ (Not PEP8 compliant, Python Black)
    E203
    # W503 line break before binary operator (Not PEP8 compliant, Python Black)
    W503
