annotated-types==0.7.0
astroid==3.3.5
attrs==24.2.0
backports-tarfile==1.2.0
boolean-py==4.0
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.0
coverage==7.6.7
craft-application @ git+https://github.com/canonical/craft-application@work/571/CRAFT-3738
craft-archives==2.0.1
craft-cli==2.10.1
craft-grammar==2.0.1
craft-parts==2.1.3
craft-platforms==0.4.0
craft-providers==2.0.4
craft-store==3.0.2
cryptography==43.0.3
dill==0.3.9
distro==1.9.0
docker==7.1.0
exceptiongroup==1.2.2
freezegun==1.5.1
httplib2==0.22.0
humanize==4.11.0
hypothesis==6.119.4
idna==3.10
importlib-metadata==8.5.0
iniconfig==2.0.0
isort==5.13.2
jaraco-classes==3.4.0
jaraco-context==6.0.1
jaraco-functools==4.1.0
jeepney==0.8.0
jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
keyring==25.5.0
launchpadlib==2.0.0
lazr-restfulclient==0.14.6
lazr-uri==1.0.6
license-expression==30.4.0
macaroonbakery==1.3.4
markupsafe==3.0.2
mccabe==0.7.0
more-itertools==10.5.0
oauthlib==3.2.2
overrides==7.7.0
packaging==24.2
pip==24.3.1
platformdirs==4.3.6
pluggy==1.5.0
protobuf==5.28.3
pycparser==2.22
pydantic==2.9.2
pydantic-core==2.23.4
pyfakefs==5.7.1
pygit2==1.14.1
pylint==3.3.1
pymacaroons==0.13.0
pynacl==1.5.0
pyparsing==3.2.0
pyrfc3339==1.1
pytest==8.3.3
pytest-check==2.4.1
pytest-cov==6.0.0
pytest-mock==3.14.0
pytest-subprocess==1.5.2
python-dateutil==2.9.0.post0
python-debian==0.1.49
pytz==2024.2
pyxdg==0.28
pyyaml==6.0.2
referencing==0.35.1
requests==2.32.3
requests-toolbelt==1.0.0
requests-unixsocket2==0.4.2
responses==0.25.3
rpds-py==0.21.0
secretstorage==3.3.3
setuptools==75.6.0
six==1.16.0
snap-helpers==0.4.2
sortedcontainers==2.4.0
tabulate==0.9.0
tomli==2.1.0
tomlkit==0.13.2
typing-extensions==4.12.2
urllib3==2.2.3
wadllib==2.0.0
zipp==3.21.0
