# Copyright {{ year }} {{ author }}
# See LICENSE file for licensing details.
name: {{ name }}
description: |
  TEMPLATE-TODO: fill out the charm's description
summary: |
  TEMPLATE-TODO: fill out the charm's summary
bases:
  - name: ubuntu
    channel: 20.04/stable

# TEMPLATE-TODO: replace with containers for your workload (delete for non-k8s)
containers:
  httpbin:
    resource: httpbin-image

# TEMPLATE-TODO: each container defined above must specify an oci-image resource
resources:
  httpbin-image:
    type: oci-image
    description: OCI image for httpbin (kennethreitz/httpbin)

