# Copyright {{ year }} {{ author }}
# See LICENSE file for licensing details.
name: {{ name }}
display-name: |
  TEMPLATE-TODO: fill out a display name for the Charmcraft store
description: |
  TEMPLATE-TODO: fill out the charm's description
summary: |
  TEMPLATE-TODO: fill out the charm's summary
tags: |
  TEMPLATE-TODO: fill out the tags your charm will present

# TEMPLATE-TODO: replace with any services your charm provides to other charms and the interfaces it presents them on
provides:
  some_functionality:
    interface: some_interface

# TEMPLATE-TODO: replace with any services your charm requires from other charms and the interfaces it finds them on
requires:
  some_functionality:
    interface: some_interface
    limit: 1

# TEMPLATE-TODO: replace with containers for your workload (delete for non-k8s)
containers:
  httpbin:
    resource: httpbin-image

# TEMPLATE-TODO: each container defined above must specify an oci-image resource
resources:
  httpbin-image:
    type: oci-image
    description: OCI image for httpbin (kennethreitz/httpbin)
