setuptools_scm < 8.2.0; python_version < "3.10"
maturin < 1.8.4; python_version <= "3.9"  # Maturin 1.8.4 depends on setuptools-rust 1.11, which drops python 3.8 support.
cryptography < 45.0; python_version < "3.9"  # Cryptography 45 cannot build from scratch in Python 3.8
