summary: Minimal charm test

systems:
  - ubuntu-22.04
  - ubuntu-20.04

environment:
  PROVIDER: lxd
  JUJU_CHANNEL: 3.3/stable
  CHARMCRAFT_CHANNEL/charmcraft_current: latest/stable
  CHARMCRAFT_CHANNEL/charmcraft_next: latest/candidate

# This will run four tests:
# - juju 3.3 and charmcraft stable on ubuntu-22.04
# - juju 3.3 and charmcraft candidate on ubuntu-22.04
# - juju 3.3 and charmcraft stable on ubuntu-20.04
# - juju 3.3 and charmcraft candidate on ubuntu-20.04

prepare: |
  . "$CRAFT_TEST_PATH"/funcs.sh

  apt update -y
  apt install -y python3-pip
  pip3 install tox

  install_lxd
  snap install charmcraft --classic --channel "$CHARMCRAFT_CHANNEL"
  snap install juju --classic --channel "$JUJU_CHANNEL"
  mkdir -p "$HOME"/.local/share/juju

  bootstrap_juju

  juju add-model testing

restore: |
  . "$CRAFT_TEST_PATH"/funcs.sh

  rm -f "$PROJECT_PATH"/*.charm
  charmcraft clean -p "$PROJECT_PATH"

  restore_juju

  snap stop juju
  snap remove --purge juju
  snap remove --purge charmcraft
  snap remove --purge lxd

execute: |
  tox -e integration

kill-timeout: 30m
