"""FIXME: Add a proper docstring here.

This is the main documentation of the library, will be exposed by Charmhub after
the lib is published.

Markdown is supported, in its CommonMark specification.
"""

# Never change this field, it's the unique identifier to track the library in
# all systems
LIBID = "{{ lib_id }}"

# Increment this API version by 1 when introducing backwards incompatible
# changes in the library.
LIBAPI = 0

# Increment this PATCH version by 1 for every change in the library before 
# (re)publishing it (except for the initial content), or reset it to 0 if you
# are changing the API version.
LIBPATCH = 1

# FIXME: add your code here! Happy coding!
