# Testing changes from https://github.com/canonical/starflow/pull/101
# TODO: Revert to @main after starflow PR #101 is merged
name: Check policy
on:
  pull_request:
  push:
    branches:
      - main
      - hotfix/*
      - work/check-policy # For development

jobs:
  policy:
    uses: canonical/starflow/.github/workflows/policy.yaml@copilot/use-pristine-ubuntu-action
  python-scans:
    name: Security scan
    uses: canonical/starflow/.github/workflows/scan-python.yaml@copilot/use-pristine-ubuntu-action
    with:
      packages: python-apt-dev
      # 1. requirements-noble.txt can't build on jammy
      # 2. Ignore requirements files in spread tests, as some of these intentionally
      #    contain vulnerable versions.
      # 3. Docs contain requirements.txt files that don't specify versions.
      requirements-find-args: '! -name requirements-noble.txt ! -path "./tests/spread/*" ! -path "./docs/**"'
      # osv-extra-args: "--config=source/osv-scanner.toml"
      uv-export: false
