name: Weekly Spread
on:
  schedule:
    # At 00:00 on Wednesday and Sunday.
    - cron: "0 0 * * WED,SUN"

  workflow_dispatch:

  # If we're editing this file, run it on the pull request.
  pull_request:
    paths:
      - .github/workflows/spread-large.yaml
      - tests/spread/charms/**
      - tests/spread/smoketests/parallel-build/*
      - tests/spread/smoketests/remote-build/*

# Only ever run one of this test at a time.
concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  spread:
    runs-on: spread-installed
    strategy:
      fail-fast: false
      # Each of these tasks can spin up several machines in spread.
      max-parallel: 2
      matrix:
        task:
          - charms/k8s-operator
          - charms/operator
          - charms/reactive
          - smoketests/parallel-build
          - smoketests/remote-build

    steps:
      - name: Cleanup job workspace
        run: |
          rm -rf "${{ github.workspace }}"
          mkdir "${{ github.workspace }}"
      - name: Checkout charmcraft
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          submodules: true
      - name: Download charmcraft snap
        run: |
          snap download --channel=latest/edge charmcraft
      - name: Spread k8s operator
        env:
          LAUNCHPAD_TOKEN: ${{ secrets.LAUNCHPAD_TOKEN }}
        run: |
          spread google:tests/spread/${{ matrix.task }}
      - name: Clean up jobs
        if: ${{ always() }}
        run: |
          spread -discard
          shopt -s nullglob
          for r in .spread-reuse.*.yaml; do
            spread -discard -reuse-pid="$(echo "$r" | grep -o -E '[0-9]+')"
          done
