# Testing changes from https://github.com/canonical/starflow/pull/101
# TODO: Revert to @main after starflow PR #101 is merged
name: TICS
on:
  push:
    branches:
      - "main"
      - "tiobe"
    paths-ignore:
      - .github/**
      - "!.github/workflows/tics.yaml" # Run on this file getting changed
      - docs/**
      - schema/**
      - tests/spread/**
      - .editorconfig
      - .pre-commit-config.yaml
      - .readthedocs.yaml
      - "*.md" # Only top-level Markdown files
      - spread.yaml

jobs:
  TICS:
    uses: canonical/starflow/.github/workflows/tics.yaml@copilot/use-pristine-ubuntu-action
    with:
      project: "charmcraft"
    secrets: inherit
